<div class="d-print-none">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      作成者
      <ul class="list-group list-group-flush">
        <li class="list-group-item">junara</li>
      </ul>
    </li>
    <li class="list-group-item">
      参考
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'https://qiita.com/junara', 'https://qiita.com/junara'%>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'https://github.com/junara', 'https://github.com/junara'%>
        </li>
      </ul>
    </li>
  </ul>
</div>