<div class="my-5 container">
  <h1 class="display-4">web screenshot thumbnail</h1>
  <p class="lead">This is a simple web page screenshot service. Just enter URL and submit !.</p>
  <hr class="mb-5">
</div>